@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  ::selection {
    background-color: #22c55e; /* green-500 */
    color: white;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/80 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-green-600 to-emerald-500;
  }
}